@media (max-width: 1850px) {
    .bg_video {
        max-width: 55%;
        top: -15.5rem;
        right: -12rem;
    }

    .workwedo_middletext h2 {
        font-size: 14rem;
    }

    .authorimg {
        height: 55px;
        width: 55px;
    }

    .testimonialwrap .marquee-flex {
        gap: 160px;
    }

    .testimonial_item p {
        font-size: 26px;
    }

    .overlayserviceimage {
        max-width: 456px;
    }

    .herotitle {
        font-size: 160px;
    }

    .herosubtitle {
        font-size: 108px;
    }
}

@media (min-width: 1700px) {
    .container {
        max-width: 1585px;
    }
}

@media (max-width: 1699px) {
    .workwedo_arrow .icon-white-arrow {
        width: 120px;
        height: 120px;
    }

    .masktext_wrapper {
        margin: 140px 0 0;
    }

    .testimonialauthor h3, .testimonialauthor span {
        font-size: 18px;
    }

    .ourpropmise_title h4 {
        font-size: 24px;
    }

    .ourpropmise_wrapper {
        gap: 20px;
    }

    .icon-white-arrow:before {
        font-size: 26px;
    }

    .overlayserviceimage {
        max-width: 400px;
    }

    .serviceslist_number {
        padding-right: 130px;
    }

    .serviceslist_content h3 {
        margin: 0 0 20px;
    }

    .turningmiddletitle h2 {
        font-size: 100px;
    }

    .turningsection {
        padding: 240px 0;
    }

    .aboutussection .marquee {
        margin: 100px 0 0;
    }

    .herosection {
        padding: 150px 0 50px;
    }

    .ourpropmise_title p {
        font-size: 18px;
    }

    .serviceslist_content p {
        font-size: 18px;
    }

    h2, .h2 {
        font-size: 64px;
    }

    p, .p {
        font-size: 24px;
    }

    footer .footerlinks {
        font-size: 24px;
    }

    .container {
        max-width: 100%;
        padding: 0 120px;
    }

    .navbar {
        padding: 16px 0;
    }

    .main-navigation ul {
        padding: 100px 120px 0;
    }

    .navbar-branding {
        width: 6rem;
    }

    .primary-btn>span {
        border-radius: 17px;
        padding: 20px 18px;
        font-size: 18px;
        -webkit-border-radius: 17px;
        -moz-border-radius: 17px;
        -ms-border-radius: 17px;
        -o-border-radius: 17px;
    }

    .navlink {
        font-size: 42px;
    }
}

@media (max-width: 1600px) {
    .workwedo_middletext h2 {
        font-size: 12rem;
    }

    .workwedo_arrow .icon-white-arrow {
        width: 100px;
        height: 100px;
    }

    .footer_column {
        gap: 28px;
    }

    .availableforwork_title h2 {
        margin: 24px 0 0;
    }

    .testimonial_item p {
        font-size: 24px;
    }

    .testimonialwrap .marquee-content {
        min-width: auto;
        max-width: 420px;
    }

    .testimonialauthor {
        gap: 20px;
    }

    .ourpropmise_title h4 {
        margin: 70px 0 18px;
    }

    .ourpropmise_wrapper {
        padding: 70px 0 0;
    }

    .ourservices_title h2, .ourclients_title h2, .ourpropmise_title h2 {
        margin: 24px 0 0;
    }

    .marquee-flex {
        gap: 24px;
    }

    .turningsection {
        padding: 200px 0;
    }

    .icon-union:before {
        font-size: 14px;
    }

    .bg_video {
        /* height: 106.4375rem;
        top: -53.5rem;
        left: 36.5rem; */
    }

    .herosubtitle {
        font-size: 96px;
    }

    .herotitle {
        font-size: 140px;
    }

    .aboutussection .marquee {
        margin: 70px 0 0;
    }

    .aboutus_row {
        gap: 24px;
    }

    .aboutussection {
        padding: 160px 0;
    }

    .sec-padding {
        padding: 100px 0;
    }

    .pt_120 {
        padding-top: 100px;
    }

    .pb_120 {
        padding-bottom: 100px;
    }

    .container {
        padding: 0 80px;
    }

    .main-navigation ul {
        padding: 100px 80px 0;
    }

    .navlink {
        margin: 30px 0;
    }
}

@media (max-width: 1450px) {
    .bg_video {
        top: -13.5rem;
        right: -10rem;
    }

    .testimonial_item p {
        font-size: 22px;
    }

    .authorimg {
        height: 50px;
        width: 50px;
    }

    .ourpropmise_title h4 {
        font-size: 22px;
    }

    .ourclients-marquee .marquee-content {
        min-width: auto;
        min-height: auto;
        max-width: 160px;
    }

    .greadientbox {
        width: 160px;
        height: 160px;
    }

    .overlayserviceimage {
        right: 200px;
        max-width: 370px;
    }

    .serviceslist_number {
        padding-right: 80px;
    }

    .turningmiddletitle h2 {
        font-size: 84px;
    }

    .herosubtitle {
        font-size: 88px;
    }

    .herotitle {
        font-size: 128px;
    }

    p, .p {
        font-size: 22px;
    }

    footer .footerlinks {
        font-size: 22px;
    }

    .primary-btn>span {
        border-radius: 14px;
        padding: 18px 18px;
        font-size: 16px;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        -ms-border-radius: 14px;
        -o-border-radius: 14px;
    }

    .menu-toggle {
        gap: 12px;
    }
}

@media (max-width: 1350px) {
    .testimonial_sec .bg_video {
        width: 24.0625rem;
        right: -4rem;
    }

    .bg_video {
        top: -10.5rem;
        right: -9rem;
    }

    .workwedo_middletext h2 {
        font-size: 11rem;
    }

    .workwedo_arrow .icon-white-arrow {
        width: 88px;
        height: 88px;
    }

    ul.footer-links {
        padding: 5px 0 0;
    }

    .availableforwork .container {
        padding: 100px 0;
    }

    .ourpropmise_title h4 {
        margin: 50px 0 14px;
    }

    .ourpropmise_wrapper {
        padding: 50px 0 0;
    }

    .ourpropmise_title h4 {
        font-size: 20px;
    }

    .overlayserviceimage {
        right: 170px;
    }

    .serviceslist_item {
        margin: 0 0 30px;
    }

    .serviceslist_number {
        padding-right: 60px;
    }

    .turningmiddletitle h2 {
        font-size: 78px;
    }

    .subtitle {
        font-size: 18px;
        padding: 5px 0 0 0;
    }

    .icon-union:before {
        font-size: 12px;
    }

    .subtitlewrap {
        gap: 8px;
    }

    .herosubtitle {
        font-size: 82px;
    }

    .herotitle {
        font-size: 120px;
    }

    h2, .h2 {
        font-size: 50px;
    }

    p, .p {
        font-size: 20px;
    }

    footer .footerlinks {
        font-size: 20px;
    }

    .sec-padding {
        padding: 80px 0;
    }

    .pt_120 {
        padding-top: 80px;
    }

    .pb_120 {
        padding-bottom: 80px;
    }

    .container {
        padding: 0 60px;
    }

    .main-navigation ul {
        padding: 100px 60px 0;
    }

    .menu-toggle span {
        width: 42px;
    }

    .menu-toggle {
        gap: 11px;
    }

    .main-navigation.toggled .menu-toggle span:nth-child(3) {
        transform: rotate(-45deg) translate(8px, -9px);
        -webkit-transform: rotate(-45deg) translate(8px, -9px);
        -moz-transform: rotate(-45deg) translate(8px, -9px);
        -ms-transform: rotate(-45deg) translate(8px, -9px);
        -o-transform: rotate(-45deg) translate(8px, -9px);
    }

    .main-navigation.toggled .menu-toggle span:nth-child(1) {
        transform: rotate(45deg) translate(9px, 10px);
        -webkit-transform: rotate(45deg) translate(9px, 10px);
        -moz-transform: rotate(45deg) translate(9px, 10px);
        -ms-transform: rotate(45deg) translate(9px, 10px);
        -o-transform: rotate(45deg) translate(9px, 10px);
    }

    .navlink {
        font-size: 35px;
    }
}

@media (max-width: 1199px) {
    .bg_video {
        top: -10.5rem;
        right: -9rem;
        max-width: 62%;
    }

    .ourpropmise_wrapper.active .ourpropmise_item:nth-child(2),
    .ourpropmise_wrapper.active .ourpropmise_item:nth-child(3),
    .ourpropmise_wrapper.active .ourpropmise_item:nth-child(4),
    .ourpropmise_wrapper .ourpropmise_item:nth-child(2),
    .ourpropmise_wrapper .ourpropmise_item:nth-child(3),
    .ourpropmise_wrapper .ourpropmise_item:nth-child(4) {
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }

    .workwedo_wrapper {
        gap: 16px;
    }

    .workwedo_box,
    .workwedo_arrow .icon-white-arrow {
        opacity: 1;
    }

    .WorkWeDo {
        flex-direction: column;
        flex-flow: column-reverse;
        gap: 50px;
    }

    .workwedo_middletext {
        position: static;
    }

    .workwedo_middletext h2 {
        font-size: 8rem;
        line-height: 1;
    }

    .workwedo_box:hover .workwedo_img img {
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }

    .workwedo_arrow .icon-white-arrow {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    .workwedo_box .icon-white-arrow:before {
        font-size: 20px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
    }

    .workwedo_arrow .icon-white-arrow {
        width: 66px;
        height: 66px;
    }

    .serviceslist_item:first-child .listinner {
        padding-top: 0;
    }

    .serviceslist_item:last-child .listinner {
        padding-bottom: 0;
    }

    .serviceslist_item:last-child {
        margin: 0 0 0;
    }

    .overlayserviceimage {
        position: static;
        opacity: 1;
        padding: 0;
        order: 4;
        margin: 40px 0 0 80px;
        display: none;
    }

    .serviceslist_content {
        max-width: 80%;
        order: 2;
    }

    .serviceslist_number {
        order: 1;
    }

    .servicearrow {
        order: 3;
    }

    .serviceslist_item:hover {
        background-color: transparent;
    }

    .serviceslist_item:hover .serviceslist_number>span,
    .serviceslist_item:hover .serviceslist_content p {
        color: var(--white);
    }

    .serviceslist_item:hover .serviceslist_content h3,
    .serviceslist_item .serviceslist_content h3 {
        color: var(--white);
        font-family: 'NeueMontreal Medium';
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }

    .serviceslist_item:hover .overlayserviceimage {
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }

    .serviceslist_item:hover .icon-white-arrow:before {
        color: var(--white);
    }

    .serviceslist_item:hover .icon-white-arrow,
    .serviceslist_item .icon-white-arrow {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
    }

    .footer_grid {
        gap: 24px;
    }

    .footer_column {
        gap: 16px;
    }

    .testimonial_item p {
        font-size: 20px;
    }

    .testimonialwrap .marquee-flex {
        gap: 100px;
    }

    .testimonialwrap .marquee-content {
        max-width: 400px;
    }

    .testimonialauthor h3, .testimonialauthor span {
        font-size: 16px;
    }

    .authorimg {
        height: 45px;
        width: 45px;
    }

    .ourpropmise_wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 60px 20px;
    }

    .ourpropmise_title h4 {
        margin: 30px 0 14px;
    }

    .ourservices_title h2 br,
    .ourpropmise_title h2 br {
        display: none;
    }

    .ourclients-marquee .marquee-flex {
        gap: 12px;
    }

    .turningmiddletitle h2 {
        font-size: 70px;
    }

    .abouts_left {
        max-width: 38%;
    }

    .aboutussection {
        padding: 120px 0;
    }

    .herosection.bgpattern::before {
        inset: -38% 0 0 0;
    }

    .herosubtitle {
        font-size: 68px;
    }

    h2, .h2 {
        font-size: 42px;
    }

    .sec-padding {
        padding: 60px 0;
    }

    .pt_120 {
        padding-top: 60px;
    }

    .pb_120 {
        padding-bottom: 60px;
    }

    .container {
        padding: 0 30px;
    }

    .main-navigation ul {
        padding: 100px 30px 0;
    }

    body.menu-open {
        touch-action: none;
        overflow: hidden;
    }

    /* header .navlink.isactive {
        color: var(--Yellow);
    } */

    .navlink:hover .hover-line {
        width: 10px;
    }
}

@media (max-width: 1024px) {
    .testimonial_sec .bg_video {
        width: 20.0625rem;
        right: -3rem;
    }

    .workwedo_middletext h2 {
        font-size: 7rem;
    }

    .abouts_left {
        max-width: 30%;
    }

    .herosection.bgpattern::before {
        inset: 0 0 0 0;
        transform: scale(1.6);
    }

    .herotitle {
        font-size: 104px;
    }

    .navlink {
        margin: 25px 0;
    }

    .primary-btn>span {
        padding: 16px 14px;
    }

    .navbar {
        padding: 12px 0;
    }
}

@media (max-width: 991px) {
    .testimonial_sec .bg_video {
        width: 16.0625rem;
        right: -2rem;
    }

    .workwedo_middletext h2 {
        font-size: 5rem;
    }

    .serviceslist_number {
        padding-right: 30px;
    }

    .overlayserviceimage {
        margin: 30px 0 0 50px;
    }

    ul.footer-links {
        padding: 0;
        min-width: 100%;
    }

    .footer_column {
        gap: 24px;
        flex-direction: column;
    }

    .availableforwork .container {
        padding: 80px 16px;
    }

    .testimonialwrap .marquee-content {
        max-width: 370px;
    }

    .testimonial_item p {
        font-size: 18px;
    }

    .ourclients-wrapper.pt_120 {
        padding-top: 20px;
    }

    .turningmiddletitle h2 {
        font-size: 60px;
    }

    .aboutus_row {
        flex-direction: column;
    }

    .bg_video {
        /* top: -45.5rem;
        left: 23.5rem; */
    }

    .bg_video {
        max-width: 79%;
    }

    .herotitle {
        font-size: 84px;
    }

    .herosubtitle {
        font-size: 56px;
    }

    h2, .h2 {
        font-size: 36px;
    }
}

@media (max-width: 768px) {
    .workwedo_sec {
        padding-bottom: 60px;
    }

    .workwedo_sec.bgpattern::before {
        background-size: cover;
    }

    .workwedo_wrapper {
        display: flex;
        /* animation: marquee-animate 40s linear infinite;
        -webkit-animation: marquee-animate 40s linear infinite; */
    }

    .workwedo_box {
        max-width: 300px;
        max-height: 200px;
    }

    .serviceslist_item {
        margin: 0 0 10px;
    }

    .availableforwork_title h2 {
        margin: 14px 0 0;
    }

    .testimonial_item p {
        margin: 0 0 30px;
    }

    .testimonialwrap .marquee-flex {
        gap: 60px;
    }

    .ourpropmise_wrapper {
        grid-template-columns: 1fr;
        gap: 50px;
    }



    .abouts_left {
        max-width: 100%;
    }

    .aboutus_row {
        gap: 18px;
    }

    .aboutussection {
        padding: 60px 0;
    }

    .aboutussection .marquee {
        margin: 50px 0 0;
    }

    .herosection.bgpattern::before {
        transform: scale(2);
        opacity: 0.3;
    }

    .herosectiontitle {
        justify-content: left;
        align-items: flex-start;
        text-align: start;
        gap: 12px;
    }

    .herotitle {
        flex-direction: column;
        align-items: start;
        text-align: start;
        line-height: 1.2em;
    }

    .herosubtitle {
        font-size: 50px;
    }


    .herosection {
        align-items: center;
        text-align: center;
        padding: 0
    }

    .bg_video {
        /* top: -7rem;
        left: 18rem;
        height: 100vh; */
    }
}

@media (max-width: 575px) {
    footer.bgpattern::before {
        background-image: url('../images/mobilepattern.svg');
        opacity: 0.3;
    }

    .testimonial_sec .bg_video {
        width: 14.0625rem;
        top: 4rem;
        right: -2rem;
    }

    .bg_video {
        max-width: 74%;
        top: 2rem;
        right: -4rem;
    }

    .turningmiddletitle h2 {
        font-size: 53px;
    }

    .ourservices::before {
        background-size: 204%;
    }

    .workwedo_box {
        max-height: 200px;
    }

    .workwedo_middletext h2 {
        font-size: 3.6rem;
    }

    .listinner {
        align-items: start;
    }

    .icon-white-arrow:before {
        font-size: 22px;
    }

    .serviceslist_number {
        padding-right: 16px;
    }

    .mask_text {
        font-size: 23vw;
    }

    .masktext_wrapper {
        margin: 60px 0 0;
        padding: 0 16px 26px;
    }

    .footer_grid {
        grid-template-columns: 1fr 1fr;
        gap: 40px 24px;
    }

    .availableforwork_title h2 {
        font-size: 30px;
    }

    .testimonial_item p {
        line-height: 1.3em;
    }

    .ourservices_title h2, .ourclients_title h2, .ourpropmise_title h2 {
        margin: 16px 0 0;
    }

    .greadientbox {
        width: 60px;
        height: 140px;
    }

    .ourclients-marquee .marquee-content {
        max-width: 140px;
    }

    .ourclients-marquee .marquee-flex {
        gap: 0;
    }

    .turningsection {
        padding: 180px 0;
        min-height: 100dvh;
        display: flex;
        align-items: center;
    }

    .turningmiddletitle h2 br {
        display: none;
    }

    .bg_video {
        /* left: 0;
        bottom: 0;
        top: 50%;
        height: 85vh;
        transform: translateY(-50%); */
    }

    .herotitle {
        font-size: 60px;
    }

    .herosubtitle {
        font-size: 40px;
    }

    .container {
        padding: 0 16px;
    }

    .main-navigation ul {
        padding: 100px 16px 0;
    }

    .primary-btn>span {
        padding: 14px 12px;
    }

    .navbar-branding {
        width: 4.5rem;
    }

    .menu-toggle {
        gap: 10px;
    }

    .menu-toggle span {
        width: 35px;
    }

    .main-navigation.toggled .menu-toggle span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -8px);
        -webkit-transform: rotate(-45deg) translate(6px, -8px);
        -moz-transform: rotate(-45deg) translate(6px, -8px);
        -ms-transform: rotate(-45deg) translate(6px, -8px);
        -o-transform: rotate(-45deg) translate(6px, -8px);
    }

    .navlink {
        margin: 20px 0;
    }
}

@media (max-width: 380px) {
    .testimonial_sec .bg_video {
        width: 11.0625rem;
        top: 3rem;
        right: -1.5rem;
    }

    .bg_video {
        max-width: 100%;
    }

    .workwedo_middletext h2 {
        font-size: 3rem;
    }

    .serviceslist_item {
        margin: 0;
    }

    .servicearrow {
        padding: 6px 0 0;
    }

    .serviceslist_number {
        display: none;
    }

    .icon-white-arrow:before {
        font-size: 18px;
    }

    .serviceslist_content {
        max-width: 88%;
    }

    .serviceslist_content p {
        font-size: 16px;
        line-height: 1.2;
    }

    .footer_grid {
        grid-template-columns: 1fr;
    }

    .availableforwork_title h2 {
        font-size: 26px;
    }

    .testimonialwrap .marquee-content {
        max-width: 320px;
    }

    h2, .h2 {
        font-size: 30px;
    }

    .ourpropmise_wrapper {
        gap: 40px;
    }

    .ourpropmise_title h4 {
        margin: 20px 0 14px;
    }

    .turningmiddletitle h2 {
        font-size: 50px;
    }

    .marqueetext {
        font-size: 60px;
    }

    .bg_video {
        /* height: 75vh; */
    }

    .herosubtitle {
        font-size: 36px;
    }

    .herotitle {
        font-size: 50px;
    }

    .primary-btn>span {
        font-size: 14px;
    }

}