@media (max-width: 1850px) {
    .herotitle {
        font-size: 160px;
    }

    .herosubtitle {
        font-size: 108px;
    }
}

@media (min-width: 1700px) {
    .container {
        max-width: 1585px;
    }
}

@media (max-width: 1699px) {
    .herosection {
        padding: 150px 0 50px;
    }

    .container {
        max-width: 100%;
        padding: 0 120px;
    }

    .navbar {
        padding: 16px 0;
    }

    .main-navigation ul {
        padding: 100px 120px 0;
    }

    .navbar-branding {
        width: 6rem;
    }

    .primary-btn>span {
        border-radius: 17px;
        padding: 20px 18px;
        font-size: 18px;
        -webkit-border-radius: 17px;
        -moz-border-radius: 17px;
        -ms-border-radius: 17px;
        -o-border-radius: 17px;
    }

    .navlink {
        font-size: 42px;
    }
}

@media (max-width: 1600px) {
    .bg_video {
        height: 106.4375rem;
        top: -53.5rem;
        left: 36.5rem;
    }

    .herosubtitle {
        font-size: 96px;
    }

    .herotitle {
        font-size: 140px;
    }

    .container {
        padding: 0 80px;
    }

    .main-navigation ul {
        padding: 100px 80px 0;
    }

    .navlink {
        margin: 30px 0;
    }
}

@media (max-width: 1450px) {
    .herosubtitle {
        font-size: 88px;
    }

    .herotitle {
        font-size: 128px;
    }

    .primary-btn>span {
        border-radius: 14px;
        padding: 18px 18px;
        font-size: 16px;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        -ms-border-radius: 14px;
        -o-border-radius: 14px;
    }

    .menu-toggle {
        gap: 12px;
    }
}

@media (max-width: 1350px) {
    .herosubtitle {
        font-size: 82px;
    }

    .herotitle {
        font-size: 120px;
    }

    .container {
        padding: 0 60px;
    }

    .main-navigation ul {
        padding: 100px 60px 0;
    }

    .menu-toggle span {
        width: 42px;
    }

    .menu-toggle {
        gap: 11px;
    }

    .main-navigation.toggled .menu-toggle span:nth-child(3) {
        transform: rotate(-45deg) translate(8px, -9px);
        -webkit-transform: rotate(-45deg) translate(8px, -9px);
        -moz-transform: rotate(-45deg) translate(8px, -9px);
        -ms-transform: rotate(-45deg) translate(8px, -9px);
        -o-transform: rotate(-45deg) translate(8px, -9px);
    }

    .main-navigation.toggled .menu-toggle span:nth-child(1) {
        transform: rotate(45deg) translate(9px, 10px);
        -webkit-transform: rotate(45deg) translate(9px, 10px);
        -moz-transform: rotate(45deg) translate(9px, 10px);
        -ms-transform: rotate(45deg) translate(9px, 10px);
        -o-transform: rotate(45deg) translate(9px, 10px);
    }

    .navlink {
        font-size: 35px;
    }
}

@media (max-width: 1199px) {
    .herosection.bgpattern::before {
        inset: -38% 0 0 0;
    }

    .herosubtitle {
        font-size: 68px;
    }

    .container {
        padding: 0 30px;
    }

    .main-navigation ul {
        padding: 100px 30px 0;
    }

    body.menu-open {
        touch-action: none;
        overflow: hidden;
    }

    /* header .navlink.isactive {
        color: var(--Yellow);
    } */

    .navlink:hover .hover-line {
        width: 10px;
    }
}

@media (max-width: 1024px) {
    .bg_video {
        left: 30.5rem;
    }

    .herosection.bgpattern::before {
        inset: 0 0 0 0;
        transform: scale(1.6);
    }

    .herotitle {
        font-size: 104px;
    }

    .navlink {
        margin: 25px 0;
    }

    .primary-btn>span {
        padding: 16px 14px;
    }

    .navbar {
        padding: 12px 0;
    }
}

@media (max-width: 991px) {
    .bg_video {
        top: -45.5rem;
        left: 23.5rem;
    }

    .herotitle {
        font-size: 84px;
    }

    .herosubtitle {
        font-size: 56px;
    }

    .ourpropmise_wrapper {
        grid-template-columns: 1fr;
    }

    .footer_grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .herosection.bgpattern::before {
        transform: scale(2);
        opacity: 0.3;
    }

    .herosectiontitle {
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 12px;
    }

    .herotitle {
        flex-direction: column;
        align-items: center;
        text-align: center;
        line-height: 1.2em;
    }

    .herosubtitle {
        font-size: 50px;
    }

    .height_container {
        padding-left: 0;
        height: 1.2em;
    }

    .herosection {
        align-items: center;
        text-align: center;
        padding: 0
    }

    .bg_video {
        top: -7rem;
        left: 18rem;
        height: 100vh;
    }
}

@media (max-width: 575px) {
    .bg_video {
        left: 0;
        bottom: 0;
        top: 50%;
        height: 85vh;
        transform: translateY(-50%);
    }

    .herotitle {
        font-size: 60px;
    }

    .herosubtitle {
        font-size: 40px;
    }

    .container {
        padding: 0 16px;
    }

    .main-navigation ul {
        padding: 100px 16px 0;
    }

    .primary-btn>span {
        padding: 14px 12px;
    }

    .navbar-branding {
        width: 4.5rem;
    }

    .menu-toggle {
        gap: 10px;
    }

    .menu-toggle span {
        width: 35px;
    }

    .main-navigation.toggled .menu-toggle span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -8px);
        -webkit-transform: rotate(-45deg) translate(6px, -8px);
        -moz-transform: rotate(-45deg) translate(6px, -8px);
        -ms-transform: rotate(-45deg) translate(6px, -8px);
        -o-transform: rotate(-45deg) translate(6px, -8px);
    }

    .navlink {
        margin: 20px 0;
    }
}

@media (max-width: 380px) {
    .bg_video {
        height: 75vh;
    }

    .herosubtitle {
        font-size: 36px;
    }

    .herotitle {
        font-size: 50px;
    }

    .primary-btn>span {
        font-size: 14px;
    }

}