@font-face {
    font-family: 'NeueMontreal Italic';
    src: url('../fonts/NeueMontreal-Italic.woff2') format('woff2'),
        url('../fonts/NeueMontreal-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'NeueMontreal Regular';
    src: url('../fonts/NeueMontreal-Regular.woff2') format('woff2'),
        url('../fonts/NeueMontreal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueMontreal Light';
    src: url('../fonts/NeueMontreal-Light.woff2') format('woff2'),
        url('../fonts/NeueMontreal-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueMontreal Medium';
    src: url('../fonts/NeueMontreal-Medium.woff2') format('woff2'),
        url('../fonts/NeueMontreal-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueMontreal MediumItalic';
    src: url('../fonts/NeueMontreal-MediumItalic.woff2') format('woff2'),
        url('../fonts/NeueMontreal-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy Light';
    src: url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy Regular';
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?8pszur');
    src: url('../fonts/icomoon.eot?8pszur#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?8pszur') format('truetype'),
        url('../fonts/icomoon.woff?8pszur') format('woff'),
        url('../fonts/icomoon.svg?8pszur#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-union:before {
    content: "\e900";
    color: #fff;
    font-size: 16px;
}

.icon-white-arrow:before {
    content: "\e901";
    color: #fff;
    font-size: 32px;
}

.icon-union.blue::before {
    color: var(--Blue);
}

/* root style */
body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'NeueMontreal Regular';
    font-weight: normal;
    color: var(--white);
    background: var(--white);
    line-height: 1.1;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --black: #000000;
    --white: #fff;
    --Blue: #1D2D57;
    --Yellow: #ECCE4B;
    --Pink: #E05F98;
    --Orange: #F39920;
}

h1,
.h1 {
    font-size: 120px;
    line-height: 1.2;
}

h2,
.h2 {
    font-size: 72px;
    line-height: 1.2;
}

h6,
.h6 {
    font-size: 20px;
}

p,
.p {
    font-size: 28px;
}

.blue_bg {
    background-color: var(--Blue) !important;
}

.white_bg {
    background-color: var(--white) !important;
}

.text_white {
    color: var(--white) !important;
}

.text_blue {
    color: var(--Blue) !important;
}

.text_pink {
    color: var(--Pink) !important;
}

.text_yellow {
    color: var(--Yellow) !important;
}

.fw-regular {
    font-weight: 400 !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

a,
span,
i {
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    color: var(--white);
    text-decoration: none;
}

a:focus,
a:focus-visible,
button:focus,
button:focus-visible {
    border: none;
    outline: none;
}

.d_inline_block {
    display: inline-block;
}

.d_block {
    display: block;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex_row {
    display: flex;
    flex-wrap: wrap;
}

.flexitem {
    flex: 1;
}

.d-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

li {
    list-style: none;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-visible {
    overflow: visible;
}

.text-center {
    text-align: center;
}

.text-start {
    text-align: start;
}

.textleft {
    text-align: left;
}

.position-relative {
    position: relative;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #545454;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* ::selection {
    background: var(--);
    color: var(--);
} */

.container {
    margin: 0 auto;
    padding: 0 16px;
}

.sec-padding {
    padding: 120px 0;
}

.pt_120 {
    padding-top: 120px;
}

.pb_120 {
    padding-bottom: 120px;
}

.p-0 {
    padding: 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.m-0 {
    margin: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

/* header */
header {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    background: transparent;
    color: var(--white);
    will-change: top;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.header-scrolled {
    backdrop-filter: blur(30px);
}

.navbar {
    padding: 18px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-branding {
    display: inline-flex;
}

.menu-toggle {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    flex-direction: column;
    gap: 13px;
    padding: 0;
}

.menu-toggle span {
    display: block;
    width: 46px;
    height: 2px;
    background-color: var(--white);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.main-navigation.toggled .menu-toggle span:nth-child(1) {
    transform: rotate(45deg) translate(9px, 12px);
    -webkit-transform: rotate(45deg) translate(9px, 12px);
    -moz-transform: rotate(45deg) translate(9px, 12px);
    -ms-transform: rotate(45deg) translate(9px, 12px);
    -o-transform: rotate(45deg) translate(9px, 12px);
}

.main-navigation.toggled .menu-toggle span:nth-child(2) {
    opacity: 0;
}

.main-navigation.toggled .menu-toggle span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -11px);
    -webkit-transform: rotate(-45deg) translate(8px, -11px);
    -moz-transform: rotate(-45deg) translate(8px, -11px);
    -ms-transform: rotate(-45deg) translate(8px, -11px);
    -o-transform: rotate(-45deg) translate(8px, -11px);
}

.main-navigation ul {
    display: block;
    height: 100%;
    list-style: none;
    padding: 130px 0 0;
}

.primary-menu-container {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    inset: 0 0 0 0;
    z-index: -1;
    min-height: 100dvh;
    background: var(--Blue);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.primary-menu-container.view {
    opacity: 1;
    visibility: visible;
}

.primary-btn>span {
    background-color: var(--white);
    color: var(--black);
    font-family: 'Gilroy Regular';
    text-transform: capitalize;
    line-height: 1;
    font-weight: 400;
    border: 1px solid var(--white);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 23px 20px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.primary-btn>span:hover {
    background: transparent;
    color: var(--white);
}

.navlink {
    font-size: 52px;
    letter-spacing: 2px;
    font-family: 'NeueMontreal Regular';
    margin: 40px 0;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.navlink:hover {
    color: var(--Yellow);
    font-style: italic;
}

.hover-line {
    width: 0;
    height: 3px;
    background-color: var(--Yellow);
    margin-right: 3px;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -ms-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
}

.navlink:hover .hover-line {
    width: 16px;
}

.menu-item {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.primary-menu-container.view .menu-item {
    opacity: 1;
    visibility: visible;
}

/* end */
.herosection {
    position: relative;
    z-index: 1;
    background-color: var(--Blue);
    background-repeat: no-repeat;
    overflow: hidden;
    min-height: 100dvh;
    padding: 100px 0 100px;
    height: 100%;
    display: flex;
    align-items: end;
}

.bg_video {
    position: absolute;
    z-index: 2;
    top: -48.5rem;
    left: 34.5rem;
    mix-blend-mode: color-dodge;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    width: 161.9375rem;
    height: 121.4375rem;
    object-fit: cover;
}

.grouptitlewrap {
    width: 100%;
}

.herosectiontitle {
    color: var(--white);
    font-family: 'NeueMontreal Regular';
    display: flex;
    flex-direction: column;
}

.herosubtitle {
    font-size: 120px;
    line-height: 1;
}

.herotitle {
    font-size: 180px;
    display: flex;
    margin: 0;
    font-weight: normal;
    line-height: 1.3em;
}

.height_container {
    overflow: hidden;
    vertical-align: middle;
    height: 1.5em;
    padding-left: 16px;
}

.swipetext {
    font-style: italic;
    display: inline-block;
    animation: UpWords 6s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    -webkit-animation: UpWords 6s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}

@keyframes UpWords {
    0%, 27% {
        transform: translateY(0%);
    }

    33%, 60% {
        transform: translateY(-25%);
    }

    66%, 93% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(-75%);
    }
}

.aboutussection {
    padding: 240px 0;
}

.subtitle {
    font-size: 20px;
    padding: 2px 0 0 0;
    color: var(--white);
    font-family: 'NeueMontreal Regular';
    font-weight: 400;
}

.subtitlewrap {
    display: inline-flex;
    gap: 10px;
}

.abouts_right p {
    margin: 0;
    font-family: 'NeueMontreal Light';
}

.aboutus_row {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 32px;
}

.abouts_left {
    max-width: 41%;
    width: 100%;
}

.abouts_right {
    flex: 1;
}

/* marquee */
.marquee-flex {
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    animation: marquee-animate 16s linear infinite;
    -webkit-animation: marquee-animate 16s linear infinite;
}

.marquee-content {
    overflow: hidden;
    position: relative;
}

.marquee-flex:hover {
    animation-play-state: paused;
}

.marquee-flex {
    gap: 32px;
}

@keyframes marquee-animate {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* end */
.marqueetext {
    font-size: clamp(70px, 12.5vw, 240px);
    line-height: 12rem;
    text-transform: uppercase;
    color: var(--white);
}

.aboutussection .marquee {
    margin: 120px 0 0;
}

.turningsection {
    overflow: hidden;
    padding: 280px 0;
    text-align: center;
}

.turningmiddletitle h2 {
    margin: 0;
    font-family: 'NeueMontreal Light';
    font-size: 120px;
    text-transform: capitalize;
    font-weight: normal;
}

.ourservices {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.ourservices::before {
    position: absolute;
    content: '';
    background-image: url(../images/background-video.gif);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: color-dodge;
    background-size: 100%;
    background-position: center;
    z-index: -1;
}

.ourservices_title h2,
.ourclients_title h2,
.ourpropmise_title h2 {
    margin: 32px 0 0;
    font-weight: normal;
}

.serviceslist_item {
    position: relative;
    margin: 0 0 40px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.serviceslist_item:last-child {
    margin: 0 0 0;
}

.serviceslist_content h3 {
    font-weight: normal;
    margin: 0 0 24px;
    transform: skew(0deg);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -ms-transform: skew(0deg);
    -o-transform: skew(0deg);
}

.serviceslist_content p {
    font-size: 20px;
    margin: 0;
    font-family: 'Gilroy Light';
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.listinner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
}

.serviceslist_number {
    padding-right: 156px;
    margin-bottom: auto;
}

.serviceslist_content {
    max-width: 50%;
}

.servicearrow {
    margin-left: auto;
}

.overlayserviceimage {
    position: absolute;
    right: 260px;
    z-index: 4;
    padding: 0 22px;
    max-width: 537px;
    aspect-ratio: 537 / 343;
    opacity: 0;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

.service_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.serviceslist_item:hover .overlayserviceimage {
    opacity: 1;
    transform: rotate(6.58deg);
    -webkit-transform: rotate(6.58deg);
    -moz-transform: rotate(6.58deg);
    -ms-transform: rotate(6.58deg);
    -o-transform: rotate(6.58deg);
}

.serviceslist_item:hover {
    background-color: var(--white);
}

.serviceslist_item .serviceslist_number>span {
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.serviceslist_item:hover .serviceslist_number>span {
    color: var(--Orange);
}

.serviceslist_item:hover .serviceslist_content h3 {
    color: var(--Orange);
    font-family: 'NeueMontreal Medium';
    transform: skew(-10deg);
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -ms-transform: skew(-10deg);
    -o-transform: skew(-10deg);
}

.serviceslist_item:hover .serviceslist_content p {
    color: var(--black);
}

.serviceslist_item:hover .icon-white-arrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.serviceslist_item:hover .icon-white-arrow:before {
    color: var(--Orange)
}

.serviceslist_item .icon-white-arrow {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.ourclients_title {
    text-align: center;
}

.ourclients-marquee {
    position: relative;
    max-width: 1328px;
    margin: 0 auto;
}

.ourclients-marquee .marquee-content {
    min-width: 200px;
    min-height: 200px;
    aspect-ratio: 200/200;
}

.ourclients-marquee .marquee-flex {
    position: relative;
    z-index: 1;
}

.greadientbox {
    position: absolute;
    top: 0;
    width: 280px;
    height: 200px;
    z-index: 2;
}

.greadientbox.left {
    left: 0;
    background: linear-gradient(to right, rgba(29, 45, 87, 1)0%, rgba(29, 45, 87, 0) 100%);
}

.greadientbox.right {
    right: 0;
    background: linear-gradient(to left, rgba(29, 45, 87, 1)0%, rgba(29, 45, 87, 0) 100%);
}

.workwedo_sec {
    position: relative;
    z-index: 1;
    min-height: 980px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.workwedo_middletext {
    position: absolute;
    z-index: -1;
    right: 0;
    left: 0;
    text-align: center;
}

.workwedo_middletext h2 {
    margin: 0;
    font-family: 'NeueMontreal Medium';
    font-weight: normal;
    font-size: 15rem;
    line-height: 12rem;
    text-transform: capitalize;
    text-align: center;
}

.bgpattern::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.1;
    pointer-events: none;
}

.herosection.bgpattern::before {
    background-image: url('../images/background-pattern1.svg');
    inset: -60% 0 0 0;
    background-size: 100%;
    background-repeat: no-repeat;
}

.workwedo_sec.bgpattern::before {
    background-image: url('../images/background-pattern2.svg');
    background-position: center 26%;
    background-size: 100%;
}

footer.bgpattern::before {
    background-image: url('../images/background-pattern3.svg');
    inset: 0 0 0 0;
    opacity: 1;
    background-size: cover;
}

.workwedo_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.workwedo_box {
    position: relative;
    z-index: 4;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.workwedo_box:hover {
    opacity: 1;
}

.workwedo_img {
    aspect-ratio: 480/327;
    max-height: 327px;
    /* width: 100%; */
}

.workwedo_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
    -webkit-transition: transform 0.4s ease;
    -moz-transition: transform 0.4s ease;
    -ms-transition: transform 0.4s ease;
    -o-transition: transform 0.4s ease;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.workwedo_box:hover .workwedo_img img {
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
}

.workwedo_arrow {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
}

.workwedo_arrow .icon-white-arrow {
    border-radius: 50%;
    width: 136px;
    height: 136px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(24px);
    transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    opacity: 0;
}

.workwedo_box:hover .icon-white-arrow {
    transform: scale(1);
    opacity: 1;
}

.workwedo_box .icon-white-arrow:before {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.workwedo_box:hover .icon-white-arrow:before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.ourpropmise_wrapper {
    padding: 80px 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.ourpropmise_item h3 {
    color: var(--Pink);
    line-height: 1;
    font-weight: normal;
    opacity: 0.1;
    margin: 0;
}

.ourpropmise_title {
    color: var(--Blue);
}

.ourpropmise_title h4 {
    font-weight: normal;
    font-size: 28px;
    margin: 80px 0 20px;
}

.ourpropmise_title p {
    font-family: 'Gilroy Light';
    font-size: 20px;
    margin: 0;
}

.authorimg {
    height: 62px;
    width: 62px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.testimonialauthor h3,
.testimonialauthor span {
    font-family: 'Gilroy Light';
    font-size: 20px;
    font-weight: normal;
    margin: 0;
}

.testimonial_item p {
    margin: 0 0 40px;
    line-height: 1.2em;
}

.testimonialwrap .marquee-content {
    min-width: 486px;
    max-width: 486px;
}

.testimonialwrap .marquee-flex {
    gap: 200px;
}

.testimonialauthor {
    display: flex;
    align-items: center;
    gap: 24px;
}

.testimonial_sec {
    position: relative;
    z-index: 1;
}

.testimonial_sec .bg_video {
    z-index: -1;
    width: 84.0625rem;
    right: -35rem;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    object-fit: contain;
}

.availableforwork .container {
    padding: 120px 0;
}

.availableforwork {
    background-color: var(--Blue);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    position: relative;
}

.availableforwork:hover {
    background-color: var(--Yellow);
}

.redirecttomail {
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
    z-index: 1;
}

.availableforwork_title {
    text-align: center;
    margin: 0 auto;
}

.availableforwork_title h2 {
    margin: 32px 0 0;
    font-weight: normal;
    color: var(--white);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.availableforwork_title .subtitle {
    color: var(--white);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.availableforwork .icon-union::before {
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.availableforwork:hover h2,
.availableforwork:hover .availableforwork_title .subtitle,
.availableforwork:hover .icon-union::before {
    color: var(--Blue);
}

/* footer */
footer {
    position: relative;
    z-index: 1;
}

.footer_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

footer .footerlinks {
    font-size: 28px;
    color: var(--Blue);
    margin: 0 0 20px;
    letter-spacing: 0;
}

.footer-links li:last-child .footerlinks {
    margin-bottom: 0;
}

footer .navlink:hover .hover-line {
    width: 10px;
}

footer .hover-line {
    background-color: var(--Pink);
}

footer .navlink:hover {
    color: var(--Pink);
    font-style: italic;
}

ul.footer-links {
    padding: 0;
    margin: 0;
    min-width: 50%;
}

.footer_column {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 36px;
}

.mask_text>span {
    font-style: italic;
}

.mask_text {
    margin: 0;
    line-height: 1;
    font-weight: normal;
    font-size: 17vw;
    overflow: hidden;
    color: var(--Blue);
    /* color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: url(../images/background-video.gif);
    background-size: 13% 100%;
    background-position: center;
    background-color: var(--Blue);
    background-repeat: repeat; */
}

.masktext_wrapper {
    position: relative;
    margin: 160px 0 0;
}