@font-face {
    font-family: 'NeueMontreal Italic';
    src: url('../fonts/NeueMontreal-Italic.woff2') format('woff2'),
        url('../fonts/NeueMontreal-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'NeueMontreal Regular';
    src: url('../fonts/NeueMontreal-Regular.woff2') format('woff2'),
        url('../fonts/NeueMontreal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueMontreal Light';
    src: url('../fonts/NeueMontreal-Light.woff2') format('woff2'),
        url('../fonts/NeueMontreal-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueMontreal Medium';
    src: url('../fonts/NeueMontreal-Medium.woff2') format('woff2'),
        url('../fonts/NeueMontreal-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueMontreal MediumItalic';
    src: url('../fonts/NeueMontreal-MediumItalic.woff2') format('woff2'),
        url('../fonts/NeueMontreal-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy Light';
    src: url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy Regular';
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?8pszur');
    src: url('../fonts/icomoon.eot?8pszur#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?8pszur') format('truetype'),
        url('../fonts/icomoon.woff?8pszur') format('woff'),
        url('../fonts/icomoon.svg?8pszur#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-union:before {
    content: "\e900";
    color: #fff;
    font-size: 16px;
}

.icon-white-arrow:before {
    content: "\e901";
    color: #fff;
    font-size: 32px;
}

/* root style */
body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'NeueMontreal Regular';
    font-weight: normal;
    color: var(--white);
    background: var(--white);
    line-height: 1.2;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --black: #000000;
    --white: #fff;
    --Blue: #1D2D57;
    --Yellow: #ECCE4B;
    --Pink: #E05F98;
    --Orange: #F39920;
}

h1,
.h1 {
    font-size: 120px;
    line-height: 1.2;
}

h2,
.h2 {
    font-size: 72px;
    line-height: 1.2;
}

h6,
.h6 {
    font-size: 20px;
}

p,
.p {
    font-size: 28px;
}

.blue_bg {
    background-color: var(--Blue);
}

.white_bg {
    background-color: var(--white);
}

.text_white {
    color: var(--white);
}

.text_blue {
    color: var(--Blue);
}

.text_pink {
    color: var(--Pink);
}

.text_yellow {
    color: var(--Yellow);
}

.fw-regular {
    font-weight: 400;
}

.text-uppercase {
    text-transform: uppercase;
}

a,
span,
i {
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    color: var(--white);
    text-decoration: none;
}

a:focus,
a:focus-visible,
button:focus,
button:focus-visible {
    border: none;
    outline: none;
}

.d_inline_block {
    display: inline-block;
}

.d_block {
    display: block;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex_row {
    display: flex;
    flex-wrap: wrap;
}

.flexitem {
    flex: 1;
}

.d-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

li {
    list-style: none;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-visible {
    overflow: visible;
}

.text-center {
    text-align: center;
}

.text-start {
    text-align: start;
}

.textleft {
    text-align: left;
}

.position-relative {
    position: relative;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #545454;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* ::selection {
    background: var(--);
    color: var(--);
} */

.container {
    margin: 0 auto;
    padding: 0 16px;
}

.sec-padding {
    padding: 120px 0;
}

.pt_120 {
    padding-top: 120px;
}

.pb_120 {
    padding-bottom: 120px;
}

.p-0 {
    padding: 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.m-0 {
    margin: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

/* header */
header {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    background: transparent;
    color: var(--white);
    will-change: top;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar {
    padding: 18px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-branding {
    display: inline-flex;
}

.menu-toggle {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    flex-direction: column;
    gap: 13px;
    padding: 0;
}

.menu-toggle span {
    display: block;
    width: 46px;
    height: 2px;
    background-color: var(--white);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.main-navigation.toggled .menu-toggle span:nth-child(1) {
    transform: rotate(45deg) translate(9px, 12px);
    -webkit-transform: rotate(45deg) translate(9px, 12px);
    -moz-transform: rotate(45deg) translate(9px, 12px);
    -ms-transform: rotate(45deg) translate(9px, 12px);
    -o-transform: rotate(45deg) translate(9px, 12px);
}

.main-navigation.toggled .menu-toggle span:nth-child(2) {
    opacity: 0;
}

.main-navigation.toggled .menu-toggle span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -11px);
    -webkit-transform: rotate(-45deg) translate(8px, -11px);
    -moz-transform: rotate(-45deg) translate(8px, -11px);
    -ms-transform: rotate(-45deg) translate(8px, -11px);
    -o-transform: rotate(-45deg) translate(8px, -11px);
}

.main-navigation ul {
    display: block;
    height: 100%;
    list-style: none;
    padding: 130px 0 0;
}

.primary-menu-container {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    inset: 0 0 0 0;
    z-index: -1;
    min-height: 100dvh;
    background: var(--Blue);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.primary-menu-container.view {
    opacity: 1;
    visibility: visible;
}

.primary-btn>span {
    background-color: var(--white);
    color: var(--black);
    font-family: 'Gilroy Regular';
    text-transform: capitalize;
    line-height: 1;
    font-weight: 400;
    border: 1px solid var(--white);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 23px 20px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.primary-btn>span:hover {
    background: transparent;
    color: var(--white);
}

.navlink {
    font-size: 52px;
    font-family: 'NeueMontreal Regular';
    margin: 40px 0;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.navlink:hover {
    color: var(--Yellow);
    font-style: italic;
}

.hover-line {
    width: 0;
    height: 3px;
    background-color: var(--Yellow);
    margin-right: 3px;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -ms-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
}

.navlink:hover .hover-line {
    width: 16px;
}

.menu-item {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.primary-menu-container.view .menu-item {
    opacity: 1;
    visibility: visible;
}

/* end */
.herosection {
    position: relative;
    z-index: 1;
    background-color: var(--Blue);
    background-repeat: no-repeat;
    overflow: hidden;
    min-height: 100dvh;
    padding: 100px 0 100px;
    height: 100%;
    display: flex;
    align-items: end;
}

.bg_video {
    position: absolute;
    top: -48.5rem;
    left: 34.5rem;
    mix-blend-mode: color-dodge;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    width: 161.9375rem;
    height: 121.4375rem;
    object-fit: cover;
}

.grouptitlewrap {
    width: 100%;
}

.herosectiontitle {
    color: var(--white);
    font-family: 'NeueMontreal Regular';
    display: flex;
    flex-direction: column;
}

.herosubtitle {
    font-size: 120px;
    line-height: 1;
}

.herotitle {
    font-size: 180px;
    display: inline-block;
    margin: 0;
    font-weight: normal;
}

.swipetext {
    font-style: italic;
    /* overflow: hidden; */
    display: inline-block;
}

.swipetext>span {
    position: relative;
    top: 0;
    /* animation: move 12s cubic-bezier(0.7, 0.1, 0.1, 1) infinite;
    -webkit-animation: move 12s cubic-bezier(0.7, 0.1, 0.1, 1) infinite; */
}

@keyframes move {

    0%,
    7.143% {
        transform: none;
    }

    14.286%,
    21.429% {
        transform: translateY(-12.5%);
    }

    28.572%,
    35.715% {
        transform: translateY(-25%);
    }

    42.858%,
    50% {
        transform: translateY(-37.5%);
    }

    57.144%,
    64.287% {
        transform: translateY(-50%);
    }

    71.43%,
    78.573% {
        transform: translateY(-62.5%);
    }

    85.716%,
    92.859% {
        transform: translateY(-75%);
    }

    100% {
        transform: translateY(-87.5%);
    }
}

.aboutussection {
    padding: 240px 0;
}

.subtitle {
    font-size: 20px;
    color: var(--white);
    font-family: 'NeueMontreal Regular';
    font-weight: 400;
}

.subtitlewrap {
    display: inline-flex;
    gap: 10px;
}

.abouts_right p {
    margin: 0;
    font-family: 'NeueMontreal Light';
}

.aboutus_row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px;
}

.abouts_left {
    max-width: 674px;
    width: 100%;
}

.abouts_right {
    flex: 1;
}

/* marquee */
.marquee-flex {
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    animation: marquee-animate 16s linear infinite;
    -webkit-animation: marquee-animate 16s linear infinite;
}

.marquee-content {
    overflow: hidden;
    position: relative;
}

.marquee-flex:hover {
    animation-play-state: paused;
}

.marquee-content {
    min-width: 266px;
    min-height: 124px;
}

.marquee-flex {
    gap: 32px;
}

@keyframes marquee-animate {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* end */
.marqueetext {
    font-size: 240px;
    text-transform: uppercase;
    color: var(--white);
}

.aboutussection .marquee {
    margin: 120px 0 0;
}

.turningsection {
    overflow: hidden;
    padding: 280px 0;
    text-align: center;
}

.turningmiddletitle h2 {
    margin: 0;
    font-family: 'NeueMontreal Light';
    font-size: 120px;
    text-transform: capitalize;
    font-weight: normal;
    line-height: 1;
}

.ourservices {
    position: relative;
    z-index: 1;
}

.ourservices::before {
    position: absolute;
    content: '';
    background-image: url(../images/background-video.gif);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: color-dodge;
    background-size: 100%;
    background-position: center;
    z-index: -1;
}

.ourservices_title h2 {
    margin: 32px 0 0;
    font-weight: normal;
}

.serviceslist_wrapper {
    padding: 120px 0 0;
}

.serviceslist_item {
    position: relative;
    margin: 0 0 40px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.serviceslist_item:last-child {
    margin: 0 0 0;
}

.serviceslist_content h3 {
    font-weight: normal;
    margin: 0 0 24px;
    transform: skew(0deg);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -ms-transform: skew(0deg);
    -o-transform: skew(0deg);
}

.serviceslist_content p {
    font-size: 20px;
    margin: 0;
    font-family: 'Gilroy Light';
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.listinner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
}

.serviceslist_number {
    padding-right: 156px;
}

.serviceslist_content {
    max-width: 50%;
}

.servicearrow {
    margin-left: auto;
}

.overlayserviceimage {
    position: absolute;
    right: 260px;
    z-index: 4;
    max-width: 537px;
    aspect-ratio: 537 / 343;
    opacity: 0;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

.service_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.serviceslist_item:hover .overlayserviceimage {
    opacity: 1;
    transform: rotate(6.58deg);
    -webkit-transform: rotate(6.58deg);
    -moz-transform: rotate(6.58deg);
    -ms-transform: rotate(6.58deg);
    -o-transform: rotate(6.58deg);
}

.serviceslist_item:hover {
    background-color: var(--white);
}

.serviceslist_item .serviceslist_number>span {
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.serviceslist_item:hover .serviceslist_number>span {
    color: var(--Orange);
}

.serviceslist_item:hover .serviceslist_content h3 {
    color: var(--Orange);
    font-family: 'NeueMontreal Medium';
    transform: skew(-10deg);
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -ms-transform: skew(-10deg);
    -o-transform: skew(-10deg);
}

.serviceslist_item:hover .serviceslist_content p {
    color: var(--black);
}

.serviceslist_item:hover .icon-white-arrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.serviceslist_item:hover .icon-white-arrow:before {
    color: var(--Orange)
}

.serviceslist_item .icon-white-arrow {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}